

header {
  background-image: "https://media3.giphy.com/media/AO5qaphTxRnyw/giphy.gif";
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-page {
  background-color: gray;
  text-align: center;
  font-size: 10px;

}

.Ash{
    display: flex;
    margin-right: 5px;
    border: 5px;
    border-color: black;
}